body {
  font-family: "Raleway", sans-serif;
}

/* CV */
#Cv-Section {
  background-image: url("../img/bg-laptop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Hobbies */
#Hobbies-Section {
  background-image: url("../img/bg-funko.jpg");
  background-size:cover;
  background-position: center;
  color: white;
  text-shadow: 
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000; /* Borde negro alrededor del texto */
}

/* IDPA */
#Idpa-Section {
  background-image: url("../img/bg-Idpa.png");
  background-repeat: no-repeat;
  background-size:cover;
}

.Idpa-Shadow{
  text-shadow: 
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}

/* Contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
